.one {
    @include flexCenter();
    color: #ffff;

    .containerPopup {
        width: 80%;
        height: 22.2rem;
        background-color: #1F2640;
        @include flexCenter();
        flex-direction: column;
        gap: 4rem;

        p {
            width: 70%;
        }
        button {
            width: 13.8rem;
            height: 5.5rem;
            background-color: #ffff;
            color: $bgColor;
            cursor: pointer;
            opacity: 90%;
            border: none;
        }
        button:hover {
            opacity: 100%;
        }
        
    }
}